# Node modules (se instalan con npm o bun)
node_modules/

# Distribución / compilación
dist/
dist-ssr/
temp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de entorno y configuración sensible
.env
.env.*    # por ejemplo: .env.dev, .env.prod
config.js # si contiene credenciales privadas

# Sistema operativo
.DS_Store
Thumbs.db

# Dependencias y archivos de IDE
.vscode/
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo

# Subidas locales que sí quieres compartir
# Si quieres que tu compañero tenga las imágenes, no ignores uploads/
# uploads/
